# Exploratory Data Analysis (original dataset)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/raw/1ene2024_25jun2024.csv')
df2 = pd.read_csv('../data/raw/10ago2024_23jun2025.csv')

In [3]:
df1.head()

,full_date,date,weekday,time,mood,activities,note_title,note
0,2024-06-25,June 25,Tuesday,10:18 AM,Bien,Feliz | Relajado | Contento | Cansado | Ocupad...,NaN,NaN
1,2024-06-24,June 24,Monday,8:00 PM,Bien,Contento | Ocupado | Confundido | Buen sueño |...,NaN,NaN
2,2024-06-23,June 23,Sunday,8:00 PM,Bien,Feliz | Relajado | Contento | Motivado | Produ...,NaN,NaN
3,2024-06-22,June 22,Saturday,8:00 PM,Bien,Feliz | Relajado | Contento | Cansado | Motiva...,NaN,NaN
4,2024-06-21,June 21,Friday,8:00 PM,Bien,Relajado | Contento | Ansioso | Decepcionado |...,NaN,NaN

In [4]:
df2.head()

,full_date,date,weekday,time,mood,activities,note_title,note
0,2025-06-23,23 Jun,Monday,10:45 p.m.,Bien,Buen sueño | Relajado | Contento | Productivo ...,NaN,NaN
1,2025-06-20,20 Jun,Friday,1:32 p.m.,Mal,Buen sueño | Cansado | Aburrido | Enfermo,NaN,NaN
2,2025-06-19,19 Jun,Thursday,10:45 p.m.,Increíble,Buen sueño | Feliz | Enamorado | Contento | Ca...,NaN,NaN
3,2025-06-16,16 Jun,Monday,10:45 p.m.,Bien,Buen sueño | Relajado | Contento | Ejercicio |...,NaN,NaN
4,2025-06-15,15 Jun,Sunday,10:45 p.m.,Meh,Sueño malo | Feliz | Relajado | Contento | Pro...,NaN,NaN

Before beginning the exploratory data analysis (EDA), the DataFrames are preprocessed, as they have inconsistent formats, particularly for the `time` and `date` columns. Furthermore, the `note_title` and `note` columns are not needed.

In [5]:
df1 = df1.drop(columns=['date', 'note_title', 'note'])
df2 = df2.drop(columns=['date', 'note_title', 'note'])

In [6]:
# Convert the 'time' column in df2 to AM - PM format
df2['time'] = df2['time'].str.replace(r'\.m\.', 'M', regex=True).str.replace(r'a', 'A', regex=True).str.replace(r'p', 'P', regex=True)

In [7]:
# Dataframe 2024
# df2_filtered = df2[df2['full_date'] <= '2024-12-31']

In [8]:
df = pd.concat([df2, df1])

df = df.sort_values(by='full_date', ascending=True)

df = df.reset_index(drop=True)

In [9]:
df.head()

,full_date,weekday,time,mood,activities
0,2024-01-01,Monday,1:56 PM,Meh,Relajado | Aburrido | Sueño medio
1,2024-01-02,Tuesday,8:17 PM,Bien,Feliz | Relajado | Contento | Sueño medio | Ej...
2,2024-01-03,Wednesday,7:26 PM,Bien,Feliz | Contento | Buen sueño | Ejercicio | Ag...
3,2024-01-04,Thursday,9:36 PM,Bien,Feliz | Relajado | Buen sueño | Ejercicio | Co...
4,2024-01-05,Friday,7:14 PM,Bien,Cansado | Aburrido | Ansioso | Sueño medio | E...

In [10]:
df.tail()

,full_date,weekday,time,mood,activities
452,2025-06-15,Sunday,10:45 PM,Meh,Sueño malo | Feliz | Relajado | Contento | Pro...
453,2025-06-16,Monday,10:45 PM,Bien,Buen sueño | Relajado | Contento | Ejercicio |...
454,2025-06-19,Thursday,10:45 PM,Increíble,Buen sueño | Feliz | Enamorado | Contento | Ca...
455,2025-06-20,Friday,1:32 PM,Mal,Buen sueño | Cansado | Aburrido | Enfermo
456,2025-06-23,Monday,10:45 PM,Bien,Buen sueño | Relajado | Contento | Productivo ...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   full_date   457 non-null    object
 1   weekday     457 non-null    object
 2   time        457 non-null    object
 3   mood        457 non-null    object
 4   activities  457 non-null    object
dtypes: object(5)
memory usage: 18.0+ KB

In [12]:
df.describe(include=['O'])

,full_date,weekday,time,mood,activities
count,457,457,457,457,457
unique,457,7,230,5,454
top,2024-01-01,Monday,10:45 PM,Bien,Buen sueño | Relajado | Contento | Ejercicio |...
freq,1,67,101,340,2

# Preprocessing

In [13]:
# Convert mood to number
mood_map = {
    'Horrible': 0,
    'Mal': 1,
    'Meh': 2,
    'Bien': 3,
    'Increíble': 4
}

df['mood_numeric'] = df['mood'].map(mood_map)

In [14]:
# date
df['full_date'] = pd.to_datetime(df['full_date'], errors='coerce')
    
df['month'] = df['full_date'].dt.month
df['year'] = df['full_date'].dt.year

# weekday to number
df['weekday_numeric'] = df['full_date'].dt.dayofweek

# time
df['time_decimal'] = (
    pd.to_datetime(
        df['time'].astype(str).str.replace(r'[^\x00-\x7F]+', ' ', regex=True), 
        errors='coerce',
        format='mixed'
    ).dt.hour 
    + 
    (pd.to_datetime(
        df['time'].astype(str).str.replace(r'[^\x00-\x7F]+', ' ', regex=True), 
        errors='coerce', 
        format='mixed'
    ).dt.minute / 60)
)

df['time_decimal'] = df['time_decimal'].round(2)

In [15]:
# Convert activities to a list
df['activities'] = df['activities'].str.split(' \| ')
print(type(df['activities'].iloc[0]))

<class 'list'>

In [16]:
unique_activities = df['activities'].explode().dropna().unique()

print(f"Total de actividades únicas: {len(unique_activities)}")
print(unique_activities)

Total de actividades únicas: 64
['Relajado' 'Aburrido' 'Sueño medio' 'Feliz' 'Contento' 'Ejercicio' 'Agua'
 'Estudio' 'Buen sueño' 'Iniciar temprano' 'Enfocado' 'Inglés'
 'Algoritmos' 'IA & Data' 'Clase' 'Comer sano' 'Cansado' 'Ansioso'
 'Lectura' 'Compras' 'Estresado' 'Hacer deberes' 'Inseguro' 'Limpiar'
 'Desesperado' 'Emocionado' 'Triste' 'Sueño malo' 'Enojado' 'Decepcionado'
 'Cocinar' 'Clases completas' 'Tarea' 'Proyecto grupal' 'Viaje'
 'Vacaciones' 'Salida' 'Enamorado' 'Visita' 'Skin care' 'Protector solar'
 'Miedo' 'Motivado' 'Examen' 'Productivo' 'Enfermo' 'Ocupado'
 'Competencia' 'Sin dormir' 'Desmotivado' 'Procrastinar' 'Haircut'
 'Sueño temprano' 'Correr / Cardio' 'Confundido' 'Reunión' 'Evento'
 'Doctor' 'Proyecto' 'Pensativo' 'Preocupado' 'Entretenimiento'
 'Nostálgico' 'Bicicleta']

In [17]:
# Creation of column sleep_level
sleep_categories = {
    'Sin dormir', 
    'Sueño malo', 
    'Sueño medio', 
    'Buen sueño', 
    'Sueño temprano'
}

def get_sleep_level(activities):
    for activity in activities:
        if activity in sleep_categories:
            return activity
    return 'Sueño medio'

df['sleep_level'] = df['activities'].apply(get_sleep_level)

# sleep_level to ordinal
sleep_mapping = {
    'Sin dormir': 0,
    'Sueño malo': 1,
    'Sueño medio': 2,
    'Buen sueño': 3,
    'Sueño temprano': 4
}

df['sleep_level_numeric'] = df['sleep_level'].map(sleep_mapping)

In [18]:
# Number of activities per record
df['activities_count'] = df['activities'].apply(lambda x: len(x))

After analyzing the most suitable conversion method for each activity (since their individual influence needs to be analyzed), it was determined that the best option is to apply Multi-Hot Encoding to each activity, as this method prevents information loss.

It was also decided to create new categories based on a count of activities related to their corresponding category. The following categories were established:
- emotions
- health
- productivity
- places 
- tasks
- school

Furthermore, emotions were also divided into **positive, neutral, and negative** categories.

In [19]:
# Number of activities per category
# Categories
emotions = [
    "Feliz", "Emocionado", "Enamorado", "Relajado", "Contento", "Cansado", "Inseguro", "Aburrido", "Ansioso",
    "Procrastinar", "Enojado", "Estresado", "Triste", "Desesperado", "Productivo", "Ocupado", "Confundido", 
    "Motivado", "Decepcionado" ,"Enfermo", "Desmotivado", "Miedo", "Pensativo", "Preocupado", "Nostálgico"
]

health = [
    "Ejercicio", "Comer sano", "Agua", "Correr / Cardio", "Doctor", "Haircut", "Skin care", "Protector solar", "Bicicleta"
]

productivity = [
    "Lectura", "Entretenimiento", "Iniciar temprano", "Enfocado", "Inglés", "IA & Data", "Algoritmos", 
    "Reunión", "Proyecto"
]

places = ["Visita", "Salida", "Viaje", "Vacaciones", "Competencia", "Evento"]

tasks = ["Compras", "Limpiar", "Cocinar", "Hacer deberes"]

school = ["Clase", "Estudio", "Tarea", "Examen", "Proyecto grupal", "Clases completas"]

# Emotions
positive_emotions = [
    "Feliz", "Emocionado", "Enamorado", "Relajado", "Contento", "Productivo", "Motivado"
]

neutral_emotions = ["Ocupado", "Pensativo", "Cansado", "Nostálgico"]

negative_emotions = [
    "Confundido", "Inseguro", "Aburrido", "Ansioso", "Procrastinar", "Enojado", "Estresado", "Triste", 
    "Desesperado", "Decepcionado", "Enfermo", "Desmotivado", "Miedo",  "Preocupado"
]

categories = {
    'emotions': set(emotions),
    'health': set(health),
    'productivity': set(productivity),
    'places': set(places),
    'tasks': set(tasks),
    'school': set(school),
    'positive_emotions': set(positive_emotions),
    'neutral_emotions': set(neutral_emotions),
    'negative_emotions': set(negative_emotions),
}

for cat_name, cat_set in categories.items():
    col_name = f"{cat_name}_count"
    
    df[col_name] = df['activities'].apply(lambda acts: sum(1 for act in acts if act in cat_set))

In [20]:
# Multi-Hot Encoding for each activity

# This explodes list elements into separate rows, maintaining the original index
exploded_activities = df['activities'].explode()

dummies = pd.get_dummies(exploded_activities, dtype=int)

# max() to group by 1 or 0
activities_encoded = dummies.groupby(level=0, sort=False).max()

df = df.join(activities_encoded)

In [21]:
df.head(2)

,full_date,weekday,time,mood,activities,mood_numeric,month,year,weekday_numeric,time_decimal,...,Sin dormir,Skin care,Sueño malo,Sueño medio,Sueño temprano,Tarea,Triste,Vacaciones,Viaje,Visita
0,2024-01-01,Monday,1:56 PM,Meh,"[Relajado, Aburrido, Sueño medio]",2,1,2024,0,13.93,...,0,0,0,1,0,0,0,0,0,0
1,2024-01-02,Tuesday,8:17 PM,Bien,"[Feliz, Relajado, Contento, Sueño medio, Ejerc...",3,1,2024,1,20.28,...,0,0,0,1,0,0,0,0,0,0

In [22]:
df.tail(2)

,full_date,weekday,time,mood,activities,mood_numeric,month,year,weekday_numeric,time_decimal,...,Sin dormir,Skin care,Sueño malo,Sueño medio,Sueño temprano,Tarea,Triste,Vacaciones,Viaje,Visita
455,2025-06-20,Friday,1:32 PM,Mal,"[Buen sueño, Cansado, Aburrido, Enfermo]",1,6,2025,4,13.53,...,0,0,0,0,0,0,0,0,0,0
456,2025-06-23,Monday,10:45 PM,Bien,"[Buen sueño, Relajado, Contento, Productivo, M...",3,6,2025,0,22.75,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 86 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   full_date                457 non-null    datetime64[ns]
 1   weekday                  457 non-null    object
 2   time                     457 non-null    object
 3   mood                     457 non-null    object
 4   activities               457 non-null    object
 5   mood_numeric             457 non-null    int64
 6   month                    457 non-null    int32
 7   year                     457 non-null    int32
 8   weekday_numeric          457 non-null    int32
 9   time_decimal             457 non-null    float64
 10  sleep_level              457 non-null    object
 11  sleep_level_numeric      457 non-null    int64
 12  activities_count         457 non-null    int64
 13  emotions_count           457 non-null    int64
 14  health_count             457 non-null    int64
 15  productivity_count       457 non-null    int64
 16  places_count             457 non-null    int64
 17  tasks_count              457 non-null    int64
 18  school_count             457 non-null    int64
 19  positive_emotions_count  457 non-null    int64
 20  neutral_emotions_count   457 non-null    int64
 21  negative_emotions_count  457 non-null    int64
 22  Aburrido                 457 non-null    int32
 23  Agua                     457 non-null    int32
 24  Algoritmos               457 non-null    int32
 25  Ansioso                  457 non-null    int32
 26  Bicicleta                457 non-null    int32
 27  Buen sueño               457 non-null    int32
 28  Cansado                  457 non-null    int32
 29  Clase                    457 non-null    int32
 30  Clases completas         457 non-null    int32
 31  Cocinar                  457 non-null    int32
 32  Comer sano               457 non-null    int32
 33  Competencia              457 non-null    int32
 34  Compras                  457 non-null    int32
 35  Confundido               457 non-null    int32
 36  Contento                 457 non-null    int32
 37  Correr / Cardio          457 non-null    int32
 38  Decepcionado             457 non-null    int32
 39  Desesperado              457 non-null    int32
 40  Desmotivado              457 non-null    int32
 41  Doctor                   457 non-null    int32
 42  Ejercicio                457 non-null    int32
 43  Emocionado               457 non-null    int32
 44  Enamorado                457 non-null    int32
 45  Enfermo                  457 non-null    int32
 46  Enfocado                 457 non-null    int32
 47  Enojado                  457 non-null    int32
 48  Entretenimiento          457 non-null    int32
 49  Estresado                457 non-null    int32
 50  Estudio                  457 non-null    int32
 51  Evento                   457 non-null    int32
 52  Examen                   457 non-null    int32
 53  Feliz                    457 non-null    int32
 54  Hacer deberes            457 non-null    int32
 55  Haircut                  457 non-null    int32
 56  IA & Data                457 non-null    int32
 57  Inglés                   457 non-null    int32
 58  Iniciar temprano         457 non-null    int32
 59  Inseguro                 457 non-null    int32
 60  Lectura                  457 non-null    int32
 61  Limpiar                  457 non-null    int32
 62  Miedo                    457 non-null    int32
 63  Motivado                 457 non-null    int32
 64  Nostálgico               457 non-null    int32
 65  Ocupado                  457 non-null    int32
 66  Pensativo                457 non-null    int32
 67  Preocupado               457 non-null    int32
 68  Procrastinar             457 non-null    int32
 69  Productivo               457 non-null    int32
 70  Protector solar          457 non-null    int32
 71  Proyecto                 457 non-null    int32
 72  Proyecto grupal          457 non-null    int32
 73  Relajado                 457 non-null    int32
 74  Reunión                  457 non-null    int32
 75  Salida                   457 non-null    int32
 76  Sin dormir               457 non-null    int32
 77  Skin care                457 non-null    int32
 78  Sueño malo               457 non-null    int32
 79  Sueño medio              457 non-null    int32
 80  Sueño temprano           457 non-null    int32
 81  Tarea                    457 non-null    int32
 82  Triste                   457 non-null    int32
 83  Vacaciones               457 non-null    int32
 84  Viaje                    457 non-null    int32
 85  Visita                   457 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(67), int64(12), object(5)
memory usage: 187.6+ KB

In [24]:
# Export DataFrame
df.to_csv('../data/processed/moods_2024_2025.csv', index=False)